@model Core.ViewModels.TrainingVideosViewModel
@{
	ViewData["Title"] = "Training Videos";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>

    body {
        counter-reset: Serial; /* / Set the Serial counter to 0 /*/
    }
    tr td:first-child:before  {

        counter-increment: Serial; /* / Increment the Serial counter /*/
        content: counter(Serial); /*  / Display the counter /*/
    }
</style>

<!-- Page Header -->
<div class="page-header">
						
	<div class="row">
		<div class="col">
			<h3 class="page-title">Training Videos</h3>
		</div>
		<div class="col-auto float-right ml-auto">
			<a class="btn add-btn" href="#" data-toggle="modal" data-target="#add_Video"><i class="fa fa-plus"></i> Add Video</a>
		</div>
	</div>  
</div>
<!-- /Page Header -->

<!-- Video List -->
<div class="row">
	<div class="col-md-12">
				@if (@Model.Videos.Count() > 0)
				{
					<div class="table-responsive">	
						<table class="table table-hover custom-table datatable mb-0">
							<thead>
								<tr>
									<th>S/N</th>
									<th>Name</th>
									<th>VideoLink</th>
									<th>View OutLine</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								@foreach( var file in  Model.Videos)
								{
									<tr>
										<td></td>
										<td>@file.Name.Title</td>
										<td>@file.VideoLink</td>
								<td class="text-center"><a class="btn newBtn" href="#" onclick="ViewOutline2('@file.Id')" data-toggle="modal" data-target="#outline_Modal">Open</a></td>
										<td class="text-center">
											<div class="dropdown dropdown-action">
												<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
												<div class="dropdown-menu dropdown-menu-right">
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_Video" onclick="GetVideoById('@file.Id')"><i class="fa fa-check-circle m-r-5 text-success"></i>Edit</a>
													<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_Video" onclick="GetVideoById('@file.Id')"><i class="fa fa-trash-o m-r-5 text-danger"></i>Delete</a>
												</div>
											</div>
										</td>
									</tr>
								}								
							</tbody>
						</table>
					</div>
                }
				else
				{
					<div cclass="row p5 m-5">
						<div class="col-md-12 text-center p-5 m5">
							<h2>No Record Found</h2>
						</div>
					</div>
				}
	</div>
</div>
<!-- /Video List -->

<!-- Add Video Modal -->
<div class="modal custom-modal fade" id="add_Video" role="dialog">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
			<div class="modal-body">
				<h5 class="modal-title text-center mb-3">Add Course Video</h5>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Course  Name</label>
                                <select class="form-control custom-select" id="name" asp-items="@(new SelectList(@ViewBag.AllCourses,  "Id", "Title" ))"></select>
								<p class="text-danger" id="nameValidation" style="display: none;">Select Course</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Course Outline</label>
								<textarea class="form-control" id="outline" ></textarea>
								<p class="text-danger" id="outlineValidation" style="display: none;">Enter the course outline</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Course VideoLink</label>
								<input type="text" class="form-control" id="videoLink" placeholder="Paste video link" required>
								<p class="text-danger" id="videoLinkValidation" style="display: none;">Upload Video</p>
							</div>
						</div>
					</div>
					<div class="m-t-20 text-center">
						<button class="btn btn-primary submit-btn" onclick="CourseVideoPost('CREATE')">Add</button>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- /Add Plan Modal -->
					
<!-- Edit Plan Modal -->
<div class="modal custom-modal fade" id="edit_Video" role="dialog">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
			<div class="modal-body">
				<h5 class="modal-title text-center mb-3">Edit Video</h5>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Course  Name</label>
								<input type="text" id="edit_Id"  hidden>
								<select class="form-control custom-select" id="edit_Name" asp-items="@(new SelectList(@ViewBag.AllCourses,  "Id", "Title" ))"></select>
								<p class="text-danger" id="edit_NameValidation" style="display: none;">Select Course</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Course Outline</label>
								<textarea rows="3" class="form-control" id="edit_Outline" required></textarea>
								<p class="text-danger" id="edit_OutlineValidation" style="display: none;">Enter the course outline</p>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label>Course VideoLink</label>
								<input type="text" class="form-control" id="edit_videoLink" placeholder="Paste video link" required>
								<p class="text-danger" id="edit_videoLinkValidation" style="display: none;">Upload Video</p>
							</div>
						</div>
					</div>
					<div class="m-t-20 text-center">
						<button class="btn newBtn submit-btn" onclick="CourseVideoPost('EDIT')">Update</button>
					</div>
			</div>
		</div>
	</div>
</div>
<!-- /Edit Plan Modal -->

<!-- Delete Course Modal -->
<div class="modal custom-modal fade" id="delete_Video" role="dialog">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-header">					
				<input id="Delete_Id" hidden />
					<h3>Delete Branch</h3>
					<p>Are you sure want to delete?</p>
				</div>
				<div class="modal-btn delete-action">
					<div class="row">
						<div class="col-6">
							<a onclick="CourseVideoPost('DELETE')" class="btn btn-primary continue-btn">Delete</a>
						</div>
						<div class="col-6">
							<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Delete Course Modal -->
<!-- VIEW TRAINING OUTLINE Modal -->
<div id="outline_Modal" class="modal custom-modal fade" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="text-center pb-2">Course Outline</h3>
			</div>
			<div class="w-100 px-4" id="view_Outline">	</div>
		</div>
	</div>
</div>
<!-- /VIEW TRAINING OUTLINE   Modal -->

<script>
	function ViewOutline2(id) {
		$.ajax({
			type: 'GET',
			url: '/Student/GetCourseOutLineById',
			data: { id: id },
			dataType: 'json',
			success: function (data) {
				if (!data.isError) {
					var outlin = data.split("\n");
					document.getElementById('view_Outline').innerHTML = "<ul><li>" + outlin.join("</li><li>") + "</li></ul>";
				}
			}
		});

	}
</script>
